/* ====================================================== */
/* Main Page Layout */
/* ====================================================== */

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "logo"
    "nav"
    "body"
    "footer";
}

header.logo {
  grid-area: logo;
}

header.title {
  grid-area: header;
}

nav {
  grid-area: nav;
}

div.body {
  grid-area: body;
}

main {
  grid-area: main;
}

aside {
  grid-area: sidebar;
}

footer.footer {
  grid-area: footer;
}

footer.toolbar {
  grid-area: toolbar;
}

/* ====================================================== */
/* Project List Layout */
/* ====================================================== */

.projectlist {
  display: grid;
  grid-gap: 10px;
}

.projectlist-container {
  overflow: auto;
}

.projectlist-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: inherit;
  grid-template-areas:
    "header"
    "main"
    "sidebar"
    "toolbar";
}

/* ====================================================== */
/* Project View Layout */
/* ====================================================== */

.projectview-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: inherit;
  grid-template-areas:
    "header"
    "main"
}

.project-books {
  display: grid;
  grid-gap: 10px;
}

/* ====================================================== */
/* Book List Layout */
/* ====================================================== */

.booklist {
  display: grid;
  grid-gap: 10px;
}

.booklist-container {
  overflow: auto;
}

.booklist-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: inherit;
  grid-template-areas:
    "header"
    "main"
    "sidebar"
    "toolbar";
}

/* ====================================================== */
/* Responsive Layout */
/* ====================================================== */

@media (min-width: 768px) {
  .container {
    height: 100vh;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 75px minmax(150px, auto) 100px;
    grid-template-areas:
      "logo body"
      "nav body"
      "footer body";
  }

/* ====================================================== */
/* Projects Layout (mid-size) */
/* ====================================================== */

  .projectlist {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-auto-rows: minmax(250px, auto);
  }

  .projectlist-body {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: inherit;
    grid-template-areas:
      "header sidebar"
      "main sidebar"
      "main toolbar"
  }

/* ====================================================== */
/* Project View Layout (mid-size)*/
/* ====================================================== */

  .projectview-body {
    grid-template-columns: 1fr;
    grid-template-rows: inherit;
    grid-template-areas:
      "header"
      "main"
      "main"
  }

  .project-books {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-auto-rows: minmax(250px, auto);
  }

/* ====================================================== */
/* Books Layout (mid-size) */
/* ====================================================== */

  .booklist {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-auto-rows: minmax(250px, auto);
  }

  .booklist-body {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: inherit;
    grid-template-areas:
      "header header"
      "main sidebar"
      "main toolbar"
  }
}

@media (min-width: 992px) {
  .container {
    grid-template-areas:
      "logo body"
      "nav body"
      "footer body"
  }
}