/* FONTS */

@font-face {
  font-family: Kouzan;
  src: url('../fonts/KouzanGyoushoTTF.ttf');
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.4em;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.container > * {
  color: #fff;
  text-shadow: 0 2px 0 rgba(110,133,156,0.12);
  padding: 0.85em;
}

header.logo {
  background-color: blanchedalmond;
  font-family: Kouzan;
  font-size: 1.5em;
  text-shadow: 2px 2px lightgray;
}

header.title {
  background-color: #3f8abf;
}

nav {
  background-color: #fbaea8;
}

nav > * {
  list-style: none;
}

main {
  background-color: #aad2ed;  
}

aside {
  background-color: #6ad78a; 
}

footer.footer {
  background-color: #6e859c;
}

footer.toolbar {
  background-color: grey;
}

.book-card {
  background-color: brown;
}

.project-card {
  background-color: darkgray;
}

div.body {
  padding: 0;
}

.body > * {
  padding: 0.85em;
}