/* ====================================================== */
/* Main Page Layout */
/* ====================================================== */

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "logo"
    "nav"
    "body"
    "footer";
}

header.logo {
  grid-area: logo;
}

header.title {
  grid-area: title;
}

nav {
  grid-area: nav;
}

div.body {
  grid-area: body;
}

main {
  grid-area: main;
}

aside.sidebar {
  grid-area: sidebar;
}

aside.toolbar {
  grid-area: toolbar;
}

footer.footer {
  grid-area: footer;
}

/* ====================================================== */
/* Project List Layout */
/* ====================================================== */

.projectlist {
  display: grid;
  grid-gap: 10px;
}

.projectlist-container {
  overflow: auto;
}

.projectlist-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: inherit;
  grid-template-areas:
    "title"
    "main"
    "toolbar";
}

/* ====================================================== */
/* Project View Layout */
/* ====================================================== */

.projectview-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: inherit;
  grid-template-areas:
    "title"
    "main"
}

.project-books {
  display: grid;
  grid-gap: 10px;
}

.project-elements {
  display: grid;
  grid-gap: 10px;
}

/* ====================================================== */
/* Book List Layout */
/* ====================================================== */

.booklist {
  display: grid;
  grid-gap: 10px;
}

.booklist-container {
  overflow: auto;
}

.booklist-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: inherit;
  grid-template-areas:
    "title"
    "main"
    "toolbar";
}

/* ====================================================== */
/* Book View Layout */
/* ====================================================== */

.bookview-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: inherit;
  grid-template-areas:
    "title"
    "main"
    "toolbar"
}

.book-chapters {
  display: grid;
  grid-gap: 10px;
}

/* ====================================================== */
/* Chapter View Layout */
/* ====================================================== */

.chapter-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: inherit;
  grid-template-areas:
    "title"
    "content"
    "toolbar"
}

.chapter-content {
  padding: 0;
  overflow: overlay;
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "main"
    "sidebar"
}


/* ====================================================== */
/* Element List Layout */
/* ====================================================== */

.elementlist {
  display: grid;
  grid-gap: 10px;
}

.elementlist-container {
  overflow: auto;
}

.elementlist-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: inherit;
  grid-template-areas:
    "title"
    "main"
    "toolbar";
}


/* ====================================================== */
/* Element Detail Layout */
/* ====================================================== */

.element-container {
  overflow: auto;
}

.element-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: inherit;
  grid-template-areas:
    "title"
    "main"
    "toolbar";
}

/* ====================================================== */
/* Instance Detail Layout */
/* ====================================================== */

.instance-container {
  overflow: auto;
}

.instance-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: inherit;
  grid-template-areas:
    "title"
    "main";
}


/* ====================================================== */
/* Responsive Layout */
/* ====================================================== */

@media (min-width: 768px) {
  .container {
    height: 100vh;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 75px minmax(150px, auto) 100px;
    grid-template-areas:
      "logo body"
      "nav body"
      "footer body";
  }

/* ====================================================== */
/* Projects Layout (mid-size) */
/* ====================================================== */

  .projectlist {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-auto-rows: minmax(250px, auto);
  }

  .projectlist-body {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: inherit;
    grid-template-areas:
      "title toolbar"
      "main main"
      "main main"
  }

/* ====================================================== */
/* Project View Layout (mid-size)*/
/* ====================================================== */

  .projectview-body {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: inherit;
    grid-template-areas:
      "title toolbar"
      "main sidebar"
      "main sidebar"
  }

  .project-books {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-auto-rows: minmax(250px, auto);
  }

  .project-elements {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-auto-rows: minmax(250px, auto);
  }

/* ====================================================== */
/* Books Layout (mid-size) */
/* ====================================================== */

  .booklist {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-auto-rows: minmax(250px, auto);
  }

  .booklist-body {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: inherit;
    grid-template-areas:
      "title toolbar"
      "main main"
      "main main"
  }

/* ====================================================== */
/* Book View Layout (mid-size)*/
/* ====================================================== */

  .bookview-body {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: inherit;
    grid-template-areas:
      "title toolbar"
      "main sidebar"
      "main sidebar"
  }

  .book-chapters {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-auto-rows: minmax(250px, auto);
  }

/* ====================================================== */
/* Chapter View Layout (mid-size)*/
/* ====================================================== */

  .chapter-body {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: inherit;
    grid-template-areas:
      "title toolbar"
      "content content"
      "content content"
  }

  .chapter-content {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "main sidebar"
  }


/* ====================================================== */
/* Element List Layout (mid-size) */
/* ====================================================== */

  .elementlist {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-auto-rows: minmax(250px, auto);
  }

  .elementlist-body {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: inherit;
    grid-template-areas:
      "title toolbar"
      "main main"
      "main main"
  }


/* ====================================================== */
/* Element Detail Layout (mid-size) */
/* ====================================================== */

  .element-body {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: inherit;
    grid-template-areas:
      "title toolbar"
      "main main"
      "main main"
  }

/* ====================================================== */
/* Element Detail Layout (mid-size) */
/* ====================================================== */

  .instance-body {
    grid-template-columns: 1fr;
    grid-template-rows: inherit;
    grid-template-areas:
      "title"
      "main"
      "main"
  }


}

@media (min-width: 992px) {
  .container {
    grid-template-areas:
      "logo body"
      "nav body"
      "footer body"
  }
}