main {
  background-color: #aad2ed;  
}

aside.sidebar {
  background-color: #6ad78a; 
}

aside.toolbar {
  background-color: grey;
}

footer.footer {
  background-color: #6e859c;
}

.book-card {
  background-color: brown;
}

.project-card {
  background-color: darkgray;
}

.instance-card {
  background-color: darkolivegreen;
}

.element-card {
  background-color: olivedrab;
}

.instance-data {
  border-collapse: collapse;
}

.instance-data td, .instance-data th {
  background-color: sandybrown;
  border: 1px solid white;
  padding: 8px;
}

div.body {
  padding: 0;
}

.body > * {
  padding: 0.85em;
}

/* Chapter Editor */
.chapter-editor {
  white-space: pre-line;
}